<%  provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="span8">
      <h2 style="padding-top: 100px;">Используйте меню для навигации.</h2>

  </div>
</div>
