<%  provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="span8">
      <h1>Comments</h1>
      <ol class="posts">
        <li>
          <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae architecto fugiat aperiam necessitatibus facere molestiae ex commodi alias.</span>
          <span class="timestamp">
            Posted 2 days ago.
          </span>
          <%= link_to "delete", "#" %>
        </li>
        <li>
          <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae architecto fugiat aperiam necessitatibus facere molestiae ex commodi alias.</span>
          <span class="timestamp">
            Posted 2 days ago.
          </span>
          <%= link_to "delete", "#" %>
        </li>
      </ol>

  </div>
</div>
